<% include partials/header.ejs %>
<nav class="navbar navbar-default" id="menu">
    <ul class="nav navbar-nav menu-item">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <% menu.forEach(function(me){ %>
        <li>
            <a href="/categories/<%= me._id %>"><%= me.title %></a>
        </li>
        <%});%>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="well">Category: <b style="color: red"><%= category.title %></b>&nbsp;&nbsp;&nbsp;(<%= products.length %> product)</div>
            <% if(products.length > 0){ %>
                <% products.forEach(function(product){ %>
                <div class="col-sm-3 well item">
                    <img src="/uploads/<%= product.image %>" alt="<%= product.title %>}" class="img-responsive">
                    <br>
                    <p class="lead"><%= product.title %></p>
                    <p><%= product.description %></p>
                    <p class="clearfix">
                        <span class="pull-left"><strong><i class="glyphicon glyphicon-usd"></i><%= product.price %></strong></span>
                        <a href="/add-to-cart/<%= product._id %>"><span class="pull-right"><button class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i></button></span></a>
                    </p>
                </div>
                <%});%>
            <% }else{ %>
                <h2>This category don't have any product.</h2>
            <%}%>
    </div>
</div>

<% include partials/footer.ejs %>