<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <h2 class="text-center"><b><%= user.fullname %></b>'s profile</h2>
        <hr>
        <% if(orders.length > 0){ %>
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-center">Your Orders</h3>
                <% orders.forEach(function(order){ %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                            <%order.items.forEach(function(items){%>
                            <li class="list-group-item">
                                <span class="badge">$<%= items.price %></span>
                                <%= items.item.title %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <%= items.qty %> Units
                            </li>
                            <%});%>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <p class="text-center">Payment date: <%= moment(order.paymentDate).format('hh:mm:ss DD/MM/YYYY') %>&nbsp;&nbsp;(<%= moment(order.paymentDate).fromNow() %>)</p>
                        <p class="text-center">Total of this order: <b>$<%= order.cart.totalPrice %></b></p>
                    </div>
                </div>
                <%});%>
            </div>
        <%}else{%>
            <h3 class="text-center">You have no any orders. <a href="/" class="btn btn-primary">Shopping now</a></h3>
        <%}%>
    </div>
</div>

<% include partials/footer.ejs %>


