<% include ../partials/header.ejs %>
<% var i = 1 %>

    <div class="container">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Title</th>
                        <th class="text-center" colspan="2"><a href="/admin/categories/add"><button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Add Category</button></a></th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(function(cate){ %>
                        <tr id="<%= cate._id %>">
                            <td class="text-center"><%= i %></td>
                            <td class="text-center"><%= cate._id %></td>
                            <td class="text-center"><%= cate.title %></td>
                            <td class="text-right"><a href="/admin/categories/edit/<%= cate._id %>"><button class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button></a></td>
                            <td class="text-left"><a href="javascript:void(0)"><button id-delete="<%= cate._id %>" class="btn btn-danger deleteCate"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button></a></td>
                            <%i++%>
                        </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>

<%include ../partials/footer.ejs%>